
.body{
background-image: url(westview.webp);
}
.character{
  width: 440px;
  height: 500px;
  position:absolute;
  bottom: 20%;
  left: 33%;
  background-image: url(wanda.png) ;
  background-size: cover;
}

.enemy{
  width: 350px;
  height: 500px;
  position: absolute;
  top: 18%;
  left: 100%;
  background-image: url(agatha.png);
  background-size: cover;
  animation: enemyAnim 4s linear infinite;
}

.vision{
  background-image: url(Vision.png) ;
  width: 450px;
  height: 500px;
  animation: jump;

}

.jump{
  animation: jump 2000ms forwards;
}

@keyframes  jump {
    
  50%{
      bottom: 80%;
    }
    100%{
      bottom: 20%;
      transform: rotate(-360deg);
    }
}

@keyframes enemyAnim {
  
  100%{
    left: -20%;
  }

}

 