
.character{
  width: 250px;
  height: 400px;
  position:absolute;
  bottom: 5%;
  left: 37%;
  background-image: url(scarlett.witch.jpg) ;
  background-size: cover;
}

.jump{
  animation: jump 6s forwards;
}


@keyframes  jump {
    
  50%{
      bottom: 40%;
    }
    100%{
      bottom: 20%;
    }

    mover { 
      transform: translateY(0); }
}