
.body{
background-image: url(westview.webp);
}
.character{
  width: 350px;
  height: 400px;
  position:absolute;
  bottom: 5%;
  left: 36%;
  background-image: url(wanda.png) ;
  background-size: cover;
}

.enemy{
  width: 350px;
  height: 500px;
  position: absolute;
  bottom: 6%;
  left: 70%;
  background-image: url(agatha.png);
  background-size: cover;
}

.jump{
  animation: jump 2000ms forwards;
}

@keyframes  jump {
    
  50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(-360deg);
    }
}

@keyframes  jumpforward {
    
  50%{
      left: -60%;
    }
  
}

 